#verner-body {
    /*padding: 15px;*/
}

#nauha {
    background: url(../images/nauha.png) top center no-repeat;
    position:relative;
    height: 320px;
}

#footer-img {
   background: url(../images/talo.png) top center no-repeat;
   height: 320px;
   position: relative;
}

#header-img {
    background: url(../images/talo.png) top center no-repeat;
    position: relative;
    /*height: 320px;*/
}

#linkkeja {
    padding-bottom: 25px;
}

